@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, sans-serif;
  overflow: hidden; /* 防止整个窗口出现滚动条，我们只让中间区域滚动 */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100vh;
}